body {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    margin-left: auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #A9A9A9;
     position: -webkit-sticky;
     position: sticky;
     top: 2px;
}

header:after {
    content: ' ';
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 50px;
    width: 60px;
    padding: 7px;
}

nav {
  float: right;
}

nav ul {
    margin: 0;
    padding:0;
    list-style: none;
}

nav li {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    padding-top: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

header nav a:hover {
    color: #FF0000;
}

h1 {color: #000000;
    text-align: center;
}

h3 {color: rgba(0,0,0,0.8);
    text-align: center;
}

.F1 {
  height: 46%;
  width: 88%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*https://www.geeksforgeeks.org/comments-in-java/*/

{-webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

select {
 width: 150px;
 color: #333;
 background-color: transparent;
 font-weight: bold;
 border-radius: 3px;
 padding: 6px 10px;
 font-size: 17px;
 margin: 6px;
}
[type = text] {
 border: 1px solid #333;
 padding: 6px 10px;
 width: 300px;
 border-radius: 3px;
 margin: 6px;
}
[type = submit] {
 border: 1px solid;
 background-color: transparent;
 border-radius: 3px;
 font-weight: bold;
 padding: 6px 10px;
 margin: 6px;
 cursor: pointer;
}
p {
 background-color: #EEE;
 box-shadow: 1px 1px 2px rgba(0,0,0,.5);
 padding: 10px;
 font-weight: bold;
 font-size: 17px;
 width: 500px;
 border-radius: 3px;
 margin: 6px;
}
[lang = en] {
 text-align: left;
}
[lang = ar] {
 text-align: right;
}

footer {
    width: 100%;
    background-color: #222;
    padding: 20px;
}

footer nav {
  float: none;
}

footer nav ul {
    margin: 10px;
    padding:10px;
    list-style: none;
}

footer nav li {
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    padding-top: 10px;
}

footer nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

footer nav a:hover {
    color: #FF0000;
}
