body {

    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

    margin-left: auto;

}



.container {

    width: 80%;

    margin: 0 auto;

}



header {

    background: #A9A9A9;

     position: -webkit-sticky;

     position: sticky;

     top: 2px;

}



header:after {

    content: ' ';

    display: table;

    clear: both;

}



.logo {

    float: left;

    height: 50px;

    width: 60px;

    padding: 7px;

}



nav {

  float: right;

}



nav ul {

    margin: 0;

    padding:0;

    list-style: none;

}



nav li {

    display: inline-block;

    text-align: center;

    margin-left: 10px;

    padding-top: 20px;

}



nav a {

    color: #000000;

    text-decoration: none;

    text-transform: uppercase;

    font-family: Geneva, Tahoma, Verdana, sans-serif;

}



header nav a:hover {

    color: #FF0000;

}



h1 {color: #000000;

    text-align: center;

}

* {box-sizing: border-box}
 
.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

h3 {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    font-size: 15px;

    color: #FF0000;

    text-align:left;

}


.BestBuy {

    height: 80%;

    width: 95%;

    display: block;

    margin-left: auto;

    margin-right: auto;

}



.TableInfo {

    position: relative;

    left: 400px;

    padding-right: 450px;

    bottom: 170px;

    overflow: visible;

}



.VrPicture {

    height: 80%;

    width: 95%;

    display: block;

    margin-left: auto;

    margin-right: auto;

}



.titleVr {

    display: inherit;

}



.VrPicture {

    height: 80%;

    width: 95%;

    display: block;

    margin-left: auto;

    margin-right: auto;

}



.ending{

    text-align: center;

}



.graphics {

    text-align:left;

    font-family: Geneva, Tahoma, Verdana, sans-serif;

    font-size:20px;

    color: #008000;

}



.variety {

    text-align: left;

    font-family: Geneva, Tahoma, Verdana, sans-serif;

    font-size: 20px ;

    color: #008000;

}



.wheel {

    text-align: left;

    font-family: Geneva, Tahoma, Verdana, sans-serif;

    font-size: 20px ;

    color: #008000;

}



.psvr {

    text-align: left;

    font-family: Geneva, Tahoma, Verdana, sans-serif;

    font-size: 20px ;

    color: #008000;

}



.on {

    text-align: right;

    font-family: Geneva, Tahoma, Verdana, sans-serif;

    font-size: 20px ;

    color: #FFA500;

}



.carinter {

    text-align: right;

    font-family: Geneva, Tahoma, Verdana, sans-serif;

    font-size: 20px ;

    color: #FF0000;

}



.ratings{

     margin-left: auto;

     margin-right: auto;

     font-family: Tahoma, Verdana, Segoe, sans-serif;

     font-size: 30px;

}



.overall {

    font-size: 30px;

}



.youtube {

     display: block;

     margin-left: auto;

     margin-right: auto;

}



footer {

    width: 100%;

    background-color: #222;

    padding: 20px;

}



footer nav {

  float: none;

}



footer nav ul {

    margin: 10px;

    padding:10px;

    list-style: none;

}



footer nav li {

    display: inline-block;

    text-align: center;

    margin-left: 10px;

    padding-top: 10px;

}



footer nav a {

    color: #FFFFFF;

    text-decoration: none;

    text-transform: capitalize;

    font-family: Geneva, Tahoma, Verdana, sans-serif;

}



footer nav a:hover {

    color: #FF0000;

}
